:root {
  --amzn-loading-bg: url("data:image/svg+xml,%3Csvg fill='%2303D37DFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='.25'/%3E%3Cpath d='M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z'%3E%3CanimateTransform attributeName='transform' type='rotate' dur='0.75s' values='0 12 12;360 12 12' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
}

#nav-logo {
  position: relative;
  display: block !important;

  &:hover .amzns-list {
    display: block !important;
  }
}

#navbar.layout2.bold-focus-hover #nav-logo .nav-logo-link {
  width: auto !important;
}

.amzns-btn {
  background: none;
  border: none;
  color: inherit;
}

.amzns-list {
  top: 100%;
  right: 0;
}

.amzns-link {
  display: flex;
  padding: 3px 0;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  .icp-nav-flag {
    margin: 0 5px 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.amzns-price {
  display: inline-block;
  margin-left: 5px;
  font-size: .8em;
  color: black;
}

.amzns-country {
  width: 1.2em;
}

.priceToPay {
  display: flex;
  flex-wrap: wrap;
}

.amzns-in-page {
  display: inline-block;
  scale: .9;
  margin: 0;

  &:hover {
    text-decoration: none;

    .icp-nav-flag {
      scale: 1.2;
      transition: scale 300ms;
    }
  }

  .icp-nav-flag {
    transition: scale 300ms;
  }

  &.loading {
    filter: grayscale(30%);

    .a-price-whole:after {
      display: inline-block;
      content: '';
      background-image: var(--amzn-loading-bg);
      width: 25px;
      height: 25px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;

    .a-price-whole:before {
      display: inline-block;
      content: '—';
      margin-left: 5px;
      margin-top: -9px;
      vertical-align: middle;
      font-weight: 400;
      font-size: .8em;
    }
  }
}
